
.list-group-item {
    background-color: #507687; 
    color: #fcfaee;
    margin-bottom: 15px;
    border: none;
}
.sessions-panel {
    position: fixed;
    top: 0;
    /* hacemos que esté oculto a la izquierda de primeras, luego en JS lo tratamos para que pueda aparecer */
    left: -100%;
    width: 280px;
    background-color: #384B70;
    color: #fcfaee;
    /* que ocupe todo aunque no tenga tantas sesiones para dar la sensacion de panel lateral emergente */
    height: 100%;
    transition: left 0.8s;
    padding: 20px;
    overflow-y: auto;
    z-index: 1051;
}
h1{
    color:#fcfaee;
}
.btn {
margin-right: 15px;
color: #FCFAEE;
}

.btn-add-new {
    position: fixed;
    right: 30px;
    bottom: 30px;
    padding: 10px 15px;
    border-radius: 50%;
    z-index: 1050;
}


.modal-content{
    color: #384B70;
}

